node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/apartments
/public/images/attribute
/public/images/locations
/public/images/reservations
/public/images/uploads

/public/pdf


.vscode
