@font-face {
  font-family: Heading1;
  src: url(../../../public/fonts/ProximaNovaAltCondensedExtrabold.otf);
  font-weight: bold;
  font-display: swap;
}

// @font-face {
//   font-family: Heading2;
//   src: url(../../../public/fonts/AmBasis-Bold.woff);
//   font-weight: bold;
//   font-display: swap;
// }

@font-face {
  font-family: Heading3;
  src: url(../../../public/fonts/GalaxiePolaris-Bold.otf);
  font-weight: bold;
  font-display: swap;
}


@font-face {
  font-family: Heading4;
  src: url(../../../public/fonts/CentraNo2-Book.otf);
  font-weight: bold;
  font-display: swap;
}


@font-face {
  font-family: Heading5;
  src: url(../../../public/fonts/CentraNo2-Medium.otf);
  font-weight: bold;
  font-display: swap;
}


@font-face {
  font-family: Heading6;
  src: url(../../../public/fonts/CentraNo2-Bold.otf);
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: 'Heading4', serif;
  font-weight: 320;
  line-height: 1.5em;
  font-size: 0.95rem;
  color: #8a8484;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: 'Heading5', serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #000;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: 1.15em;
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: 1.5em;
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: 1.5em;
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: 1.55em;
  margin-bottom: 15px;
}

h6,
.h6 {
  font-size: $h6-font-size;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

p {
  font-size: $font-paragraph;
  margin: 0 0 10px;
}

b {
  font-weight: 700;
}

small,
.small {
  font-size: 75%;
  color: #777;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-weight: $font-weight-extra-bold;
  font-family: 'Nanum Myeongjo', serif;

  &,
  a {
    color: $black-color;
    text-decoration: none;
  }
}

h2.title {
  margin-bottom: $headings-margin-bottom * 2;
}

.light-bold {
  font-weight: $font-weight-extra-bold;
  font-family: "Heading4", "Times New Roman", serif;
}

.bold {
  font-weight: $font-weight-extra-bold;
  font-family: "Heading4", "Times New Roman", serif;
  color: $black-color;
}

.bold-2 {
  font-weight: $font-weight-extra-bold;
  font-family: "Heading5", "Times New Roman", serif;
  color: $black-color;
}


.bold-3 {
  font-weight: $font-weight-extra-bold;
  font-family: "Heading6", "Times New Roman", serif;
  color: $black-color;
}

.description,
.card-description,
.footer-big p {
  color: $gray-light;
}

.text-warning {
  color: $warning !important;
}

.text-primary {
  color: $primary !important;
}

.text-danger {
  color: $danger !important;
}

.text-success {
  color: $success !important;
}

.text-gold {
  color: $gold-100 !important;
}

.text-black {
  color: $black !important;
}

.text-info {
  color: $info !important;
}

.text-rose {
  color: $rose !important;
}

.text-gray {
  color: $gray-color !important;
}

.text-white {
  color: $white !important;
}

.text-size-1 {
  font-size: 0.875rem;
  font-weight: 400;
}

.text-size-2 {
  font-size: 0.75rem;
  font-weight: 400;
}

.text-size-1-big {
  font-size: 1.4rem;
}

.text-size-2-big {
  font-size: 1.7rem;
}

.price {
  font-size: 1.4rem;
}

.space {
  height: 130px;
  display: block;
}

.space-110 {
  height: 110px;
  display: block;
}

.space-50 {
  height: 50px;
  display: block;
}

.space-70 {
  height: 70px;
  display: block;
}

.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;

  p {
    font-size: 1.063rem;
    font-style: italic;
  }

  small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
  }
}